<section class="post-content">
    <div
            style="background: url('images/logo_white.png') center center no-repeat;
    background-color: #333;width:100%;height:300px;margin-bottom:2em;">
    </div>

    <div class="container">

        <div class="sixteen columns">

            <article class="post-content__post">

                <div class="single-post__content">
                    <p>
                        Like so many good things in life, the best time to have a connection is before you
                        need it. Whether you're looking for advice, opportunities or a new job, the best
                        time to build those connections is now.
                    </p>

                    <p>
                        Building connections doesn't come naturally to many introverts. It can be scary!
                        Although it seems hard at first, you can learn the skills needed to build and grow
                        your professional network. The Social Skills for Introverts podcast will teach you those skills
                        through conversations with people that have been there and done that.
                    </p>

                    <p>
                        As introverts, we can only handle so much social interaction before we need to
                        recharge. This podcast is dedicated to helping you make the most of those social
                        interactions.
                    </p>
                </div>

            </article>
            <!-- / Post -->

        </div>

    </div>
    <!-- / Container -->

</section>
<section style="margin-bottom:7em;">

    <div class="container">
        <h2>Get our newsletter for previews of upcoming episodes, research notes and more.
        </h2>


        <div class="reply-form__container">

            <form id="join" class="reply__form" method="post" action="http://socialskills.us9.list-manage.com/subscribe/post?u=5a621b6f0d462a0cfc310707e&amp;id=c577767bcc">

                <!-- Name -->
                <div class="seven columns offset-by-one">
                    <input type="text" name="NAME" id="name" class="reply__input required" placeholder="Your name (required)" required>
                </div>

                <!-- Mail -->
                <div class="seven columns">
                    <input type="email" name="EMAIL" id="email" class="reply__input required" placeholder="Email address (required)" required>
                </div>

                <!-- Comment Content -->
                <div class="fourteen columns offset-by-one">
                    <textarea name="NOTE" id="note" class="reply__textarea"
                              placeholder="One way you'd like to improve your social skills (required)" required></textarea>
                </div>

                <!-- Send Button and info -->
                <div class="fourteen columns offset-by-one">
                    <button id="send" class="btn send">Get the newsletter</button>
                    <div class="clearfix"></div>
                </div>

            </form>
            <!-- Reply form -->

        </div>
        <!-- / Reply Form Container -->

    </div>
    <!-- / Container -->

</section>

